version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 5
    assignees:
      - "Jakan-Kink"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(deps):"
    rebase-strategy: auto
